body {
    background-image: url(/img/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.body-content li {
    list-style-type: none;
}

.section1 {
    height: 100vh;

}

#intro {

}

h1, h2 {
    text-align: center;
}

#school {
    
}

.section2 {
    height: 100vh;
}

.work {
    
}

.card {
    height: 100%;
    text-align: center;
}

.work .card-body {
    display: flex;
    align-items: center;
}

.work ul li {
    margin: 25px 100px;
}

.section3 {
    height: 100vh;
}


#projects {

}

#projects ul {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#projects .card-title {
    text-align: center;
}

